.App {
  max-width: 960px;
  margin: 0 auto;
}

body {
  background-color: #f05454;
}

.App .title {
  text-align: center;
  margin: 30px 0px 30px 0px;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  letter-spacing: 3px;
  color: #30475e;
}
.App-footer {
  text-align: center;
  margin: 30px 0;
}

.App a {
  color: #30475e;
}
