.App {
  max-width: 960px;
  margin: 0 auto;
}

body {
  background-color: lightblue;
}

.App h1 {
  text-align: center;
  margin: 30px 0px 30px 0px;
}
.App-footer {
  text-align: center;
  margin: 30px 0;
}

.App a {
  color: green;
}
