.Dictionary h1 {
  font-size: 18px;
  font-weight: normal;
}

.Dictionary section {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 10px 10px rgba(0 0 0/ 10%);
  margin: 20px 0;
}

.Dictionary input {
  width: 100%;
  padding: 6px 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  color: #333;
}

.Dictionary .hint {
  font-size: 11px;
  margin-top: 5px;
}
